*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    /* Assure que le contenu s'adapte à la largeur de l'écran */
    overflow-x: hidden;
    /* Empêche tout débordement horizontal */
    background-color: #f5f9ff;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}