.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(rgba(0, 40, 85, 0.8), rgba(0, 40, 85, 0.8)),
        url('votre-image.jpg') center/cover no-repeat;
    /* Image de fond */
    color: white;
    padding: 20px;
    height: 200px;
    /* Hauteur ajustable selon vos besoins */
    position: relative;
}